@using Juan.ViewModels.Categories
@model CategoryCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="card-body">
    <h4 class="card-title">Create Category</h4>
   
    <form class="forms-sample" method="post">
        <div class="form-group">
            <label asp-for="Name" >Category Name</label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Category name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
     
        <button type="submit" class="btn btn-primary me-2" >Create</button>
        <button class="btn btn-light" asp-action="Index">Cancel</button>
    </form>
</div>

