@using Juan.Models
@model Slide
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">CREATE NEW SLIDER</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Photos">SELECT PHOTO</label>
                        <input class="form-control" asp-for="Photos">

                        <span class="text-danger" asp-validation-for="Photos"></span>
                    </div>

                    <button type="submit" class="btn btn-primary me-2">CREATE</button>
                    <a class="btn btn-light" asp-action="Index">CANCEL</a>
                </form>
            </div>
        </div>
    </div>
</div>